// colors
$border: #D8D8D8;

$ease-smooth: cubic-bezier(.7, 0, .3, 1);
$ease-snappy: cubic-bezier(0.83, 0, 0.17, 1);
$ease-out: cubic-bezier(0.25, 1, 0.5, 1);

$fill-surface: #252525;
$fill-canvas: #FCFCFC;
$fill-quiet: #3B3D49;
$fill-quiet-bg: #3B3D49;

$gradient: linear-gradient(#CDD1D6, #ECECEC); 

$shadow: 0 4px 28px rgba(0,0,0,0.1), 0 8px 10px rgba(0,0,0,0.08);

$text-default: #181818;
$text-quiet: #757575;

