body {
  position: relative;
  min-height: 200dvh;
  width: 100%;
  overflow-x: hidden; 
  align-items: center;
  background-color: $fill-canvas;
  display: flex; 
  flex-direction: column;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
    
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
  display: none;
  }

  .page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: 350px;
}