#nav{
    position: relative;
    padding: 0 3vw;
    width: 100%;
    height: 96px;
    display: flex;
    opacity: 1;
    justify-content: center;

    .navWrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;
        pointer-events: none;

        .links{
            position: relative;
            font-size: 1.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 12px;
            
            a{
                color: $text-default;
                font-weight: 400;
                letter-spacing: 3%;
                text-decoration: none;
                padding: 12px 28px; 
                display: inline-block;
            }
        }
    }
}

.scroll-nav{
    position: fixed;
    height: 0;
    top: 80px;
    right: 80px;
    display: flex;
    flex-direction: column;
    z-index: 999;

    .burger-container{
        width: 52px; 
        height: 52px;
        border-radius: 2px;
        background-color: $text-default;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 90%;
        top: -20px;
        transition: all .4s $ease-smooth;
        z-index: 1;

        &:hover {
            transform: rotate(-45deg)
        }

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

    }

    .navWrapper{
        display:flex;
        width: 250px;
        flex-direction: column;
        background-color: white;
        box-shadow: $shadow;
        pointer-events: none;
        border-radius: 12px;
        z-index: 2;
        opacity: 0;
        transition: all .4s $ease-snappy;

        &.open {
            opacity: 1;
            pointer-events: all;
        }

        .close-container {
            padding: 16px 16px 0 16px;
            display: flex;
            justify-content: flex-end;

            &:hover {
                img.close {
                    background-color: #DFDFDF;
                }
            }

            img.close {
                padding: 12px;
                margin-left: auto;
                border-radius: 8px;
                transition: all .4s $ease-smooth
            }
        }

        .links{
            position: relative;
            padding: 20px;
            font-size: 1.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 12px;

            h4{
                padding-left: 28px;
                padding-bottom: 12px;
            }
            
            a{
                color: $text-default;
                font-weight: 600;
                letter-spacing: 3%;
                text-decoration: none;
                padding: 12px 28px; 
                display: inline-block;
                font-size: 24px;
                transition: all .15s $ease-smooth;
                border-radius: 4px;

                &:hover {
                    background-color: #F2F2F2;
                }
            }
        }
    }
}

@media (width < 750px) {
    #nav{
        .navWrapper {
            .links {
                a {
                    padding: 8px 12px;;
                }
            }
        }
    }
    .scroll-nav{
        right: 40px;
        top: 60px;
    }
}

@media (width < 600px) {
    #nav {
        .links {
            gap: 4px;

            a{
                font-size: 16px;
            }
        }
    }
}