.set-us-apart{
    width: 100%;
    padding:320px 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 320px;

    img{
        position: absolute;
        left: 0;
        transform: translate(3vw, 50%)
    }

    .content {
        position: relative;
        max-width: 970px;
        display: flex;
        gap: 60px;
        flex-direction: column;

        .wrapper{
            display: flex;
            flex-direction: row;
            gap: 100px;
            
            h4{
                min-width: fit-content;
                font-weight: 600;
                color: $text-default
            }

            .list {
                display: flex;
                flex-direction: column;
                max-width: 750px;
                align-items: flex-start;
                gap: 44px;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 16px;
                }

                .num{
                    min-height: 36px;
                    min-width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $border;
                    border-radius: 100%;

                }
            }
        }
    }
}

@media (width < 1320px) {

    .set-us-apart {
        gap: 200px;

        .content {
            max-width: 60%;
        }

    }
}

@media (width < 1000px) {
    .set-us-apart{
        .content {
            .wrapper{
                flex-direction: column;
            }
        }
    }
}

@media (width < 900px) {

    .set-us-apart {
        padding: 120px 40px;

        .content {
            max-width: 100%;

            .wrapper{
                flex-direction: column;
                margin-bottom: 200px;
            }
        }

        .arrow {
            display: none;
        }
    }
}

@media (width < 600px) {
    .set-us-apart {
        padding:  12px 32px;
        gap: 100px;
    }
}